// First part of the card (logo company part)
article>div:nth-child(1){
  height: 140px;
  @include flex;
  justify-content: center;

  img {
    width: 100px;
  }

  hr {
    border: none;
    border-bottom: 1.5px $grayBackground solid;
    width: 80%;
    position: absolute;
    top: 140px;
    right: 10%;
  }
}

// General styles of cards
article {
  background-color: white;
  width: 22%;
  border-radius: 2px;
  margin-right: 2%;
  position: relative;


// Second part of the card (description)
  div:nth-child(2){
    padding: $cardPaddingTop $cardPaddign $cardPaddingBottom;

    .company-name,
    i{
      color: $grayFont;
      font-weight: bold;
    }

    .location {
      color: $grayLightFont;
    }
  }


// Third part of the card (price)
  div:nth-child(3){
    @include flex;
    background-color: $grayBackgroundPrice;
    padding: $cardPaddingTop $cardPaddign $cardPaddingBottom;

    button {
      background-color: $grayBackgroundPrice;
      border: none;
    }

    img {
      width: 15px;
      border: 1px solid #e7eaf4;
      border-radius: 50%;
      padding: 12px 12px 11px
    }

    p:nth-child(1) {
      font-size: 20px;
      font-weight: bold;
      color: $purple;
      margin: 0;
      //color: filter-gradient(#5c22d1, #4a61d6, horizontal);
      //color: linear-gradient(left, rgba(92,34,209,1) 0%, rgba(82,65,211,1) 24%, rgba(82,65,211,1) 48%, rgba(74,97,214,1) 73%, rgba(74,97,214,1) 100%)
    }

    p:nth-child(2) {
      color: $purpleLight;
    }
  }

// Recommend not showing until hover
  div:nth-child(4) {
    display: none;
  }
}


// Card hover
article:hover{
  box-shadow: 1px 5px 5px 0px $grayShadow;

  div:nth-child(4){
    display: block;
    text-align: center;
    padding: 10px 0;
    color: $grayFontReommend;
  }
}

article button:hover{
  img {
    border: 1px solid #e7eaf4;
    background-color: $purple;
    background: filter-gradient(#5c22d1, #4a61d6, horizontal);
    background: linear-gradient(left top, rgba(92,34,209,1) 0%, rgba(82,65,211,1) 24%, rgba(82,65,211,1) 48%, rgba(74,97,214,1) 73%, rgba(74,97,214,1) 100%);
  }
}