article {
  background-color: white;
  width: 22%;
  border-radius: 2px;
  margin-right: 2%;
  position: relative;

//Price part of the card
  div:nth-child(3){
    @include flex;
    background-color: $grayBackgroundPrice;

    img {
      width: 20px;
      border: 1px solid #e7eaf4;
      border-radius: 50%;
      padding: 9px 9px 9px 8px
    }
  }

// Recommend not showing until hover
  div:nth-child(4) {
    display: none;
  }
}


// Card hover
article:hover{
  box-shadow: 1px 5px 5px 0px $grayShadow;

  div:nth-child(4){
    display: block;
  }
}


// First part of the card (logo company part)
article>div:nth-child(1){
  height: 140px;
  @include flex;
  justify-content: center;

  img {
    width: 100px;
  }

  hr {
    border: none;
    border-bottom: 1.5px $grayBackground solid;
    width: 80%;
    position: absolute;
    top: 140px;
    right: 10%;
  }
}