@font-face {
  font-family: 'galanogrotesquedemo-bold';
  src: url('../fonts/Galano\ Grotesque/galanogrotesquedemo-bold-webfont.woff2') format('woff2'),
        url('../fonts/Galano\ Grotesque/galanogrotesquedemo-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'typold-book500';
  src: url('typold-book500-webfont.woff2') format('woff2'),
        url('typold-book500-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}