// Styles for the header part
header {
  height: 90vh;
  background-color: $grayBackground;
  background-image: url('../images/Background.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-size: contain
}

// Nav bar
nav {
  @include flex();
  font-family: 'galanogrotesquedemo-bold';
  padding: 20px 70px;

  img {
    height: 25px;
  }
}

nav div{
  @include flex();
  width: 55%;
  padding-left: 50px;

  ul {
    @include flex();
    justify-content: space-between !important;
    padding: 0;
  }

  li {
    list-style: none;
    margin-right: 25px;
    font-size: 12px;
  }

  ul:last-child li:last-child {
    background-color: $purpleSignUp;
    border-radius: 20px;
    padding: 15px 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }
}


// Main part
main {
  @include flex();
  padding-top: 28vh;

  img {
    height: 410px;
    padding: 0px 45px 40px;
  }
}

main>div {
  width: 40%;
  padding-left: $leftpadding;
}

main>div div{
  position: relative;

  input {
    width: 105%;
    padding: 25px;
    border: none;
    border-radius: 40px;
    margin-top: 20px;
    position: relative;
    box-shadow: 1px 10px 26px 4px rgba(0,0,0,0.10)
  }

  button {
    background-color: white;
    border: none;
    border-radius: 50%;
    position: absolute;
    right: -17px;
    top: 30px
  }

  i {
    background-color: $orange;
    background: filter-gradient(#ff8d58, #ffb752, horizontal);
    background: linear-gradient(left top, rgba(255,141,88,1) 0%, rgba(255,154,86,1) 0%, rgba(255,151,86,1) 29%, rgba(255,164,84,1) 55%, rgba(255,175,83,1) 75%, rgba(255,183,82,1) 96%, rgba(255,183,82,1) 100%);
    color: white;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 1px 5px 5px 0px $orangelight
  }
}