section {
  height: 70vh;
  padding-left: $leftpadding;
  background-color: $grayBackground;
  background: filter-gradient($grayBackground, $whiteBackgorund, vertical);
  background: linear-gradient(top, $grayBackground 0%, $grayBackground 34%, $whiteBackgorund 34%, $whiteBackgorund 100%)
}

section>div {
  display: flex;
  justify-content: flex-start;
}