$mainFont: 'galanogrotesquedemo-bold';

// Colors
$grayFont: #97959a;
$grayBackground: #f0f2f7;
$grayBackgroundPrice: #fafafe; 
$orange:  #ff8d58;
$orangelight: #ffb752;
$whiteBackgorund:  #f5f0f0;


$leftpadding: 120px