// Fonts
$mainFont: 'galanogrotesquedemo-bold';
$secondFont: 'typold-book500';

// Colors
$grayFont: #97959a;
$grayFontReommend: #605d62;
$grayLightFont: #dad8de;
$grayBackground: #f0f2f7;
$grayBackgroundPrice: #fafafe;
$whiteBackgorund: #fffefe;
$orange:  #ff8d58;
$orangelight: #ffb752;
$purple: #5c22d1;
$purpleLight: #beb9d3;

// Paddign for page
$leftpadding: 143px;
$cardPaddingTop: 20px;
$cardPaddingBottom: 10px;
$cardPaddign: 25px