// Fonts
$mainFont: 'galanogrotesquedemo-bold';
$secondFont: 'typold-book500';

// Colors
$grayFont: #97959a;
$grayBackground: #f0f2f7;
$grayBackgroundPrice: #fafafe;
$grayShadow: #e4e4e7; 
$whiteBackgorund:  #fffefe;
$orange:  #ff8d58;
$orangelight: #ffb752;

// Paddign for page
$leftpadding: 120px