@font-face {
  font-family: 'galanogrotesquedemo-bold';
  src: url("../fonts/Galano Grotesque/galanogrotesquedemo-bold-webfont.woff2") format("woff2"), url("../fonts/Galano Grotesque/galanogrotesquedemo-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'typold-book500';
  src: url("typold-book500-webfont.woff2") format("woff2"), url("typold-book500-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

header {
  background-color: #f0f2f7;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'galanogrotesquedemo-bold';
  padding: 30px 70px;
}

nav img {
  height: 30px;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55%;
  padding-right: 50px;
}

nav div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

nav div li {
  list-style: none;
}

nav div a {
  text-decoration: none;
  color: white;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5px;
}

main img {
  height: 410px;
  padding: 23px 45px;
}

main > div {
  width: 40%;
  padding-left: 120px;
}

main > div div {
  position: relative;
}

main > div div input {
  width: 105%;
  padding: 25px;
  border: none;
  border-radius: 40px;
  margin-top: 20px;
  position: relative;
}

main > div div button {
  background-color: white;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 30px;
}

main > div div i {
  background-color: #ff8d58;
  background: filter-gradient(#ff8d58, #ffb752, horizontal);
  background: -webkit-gradient(linear, left top, right bottom, from(#ff8d58), color-stop(0%, #ff9a56), color-stop(29%, #ff9756), color-stop(55%, #ffa454), color-stop(75%, #ffaf53), color-stop(96%, #ffb752), to(#ffb752));
  background: linear-gradient(left top, #ff8d58 0%, #ff9a56 0%, #ff9756 29%, #ffa454 55%, #ffaf53 75%, #ffb752 96%, #ffb752 100%);
  color: white;
  padding: 15px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 5px 5px 0px #ffb752;
          box-shadow: 1px 5px 5px 0px #ffb752;
}

section {
  height: 80vh;
  padding-left: 120px;
  background-color: #f0f2f7;
  background: filter-gradient(#f0f2f7, #fffefe, vertical);
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f2f7), color-stop(30%, #f0f2f7), color-stop(30%, #fffefe), to(#fffefe));
  background: linear-gradient(top, #f0f2f7 0%, #f0f2f7 30%, #fffefe 30%, #fffefe 100%);
}

section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
          justify-content: flex-start !important;
}

article {
  background-color: white;
  width: 22%;
  border-radius: 2px;
  margin-right: 2%;
  position: relative;
}

article div:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fafafe;
}

article div:nth-child(3) img {
  width: 20px;
  border: 1px solid #e7eaf4;
  border-radius: 50%;
  padding: 9px 9px 9px 8px;
}

article div:nth-child(4) {
  display: none;
}

article > div:nth-child(1) {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > div:nth-child(1) img {
  width: 100px;
}

article > div:nth-child(1) hr {
  border: none;
  border-bottom: 1.5px #f0f2f7 solid;
  width: 80%;
  position: absolute;
  top: 140px;
  right: 10%;
}

body {
  margin: 0;
  font-family: 'typold-book500';
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 10px;
  color: #97959a;
  margin: 0 0 15px;
}
/*# sourceMappingURL=style.css.map */